## Mutability and Lists

In [1]:
my_lst = list(range(10))

In [2]:
my_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
my_lst.append(111)

In [4]:
my_lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 111]

In [8]:
my_lst.pop()

111

In [9]:
my_lst[5] = '777'

In [10]:
my_lst

[0, 1, 2, 3, 4, '777', 6, 7, 8, 9]

## Tuples!

In [13]:
first_tpl = tuple([1, 2, 3])
second_tpl = (1, 2, 3)
third_tpl = 1,2,3

In [14]:
first_tpl

(1, 2, 3)

In [15]:
second_tpl

(1, 2, 3)

In [16]:
third_tpl

(1, 2, 3)

## Tuple Unpacking

In [17]:
first, second, third = third_tpl

In [18]:
first

1

In [19]:
second

2

In [21]:
third

3

In [23]:
third_tpl[1]

2

In [24]:
another_tpl = tuple(my_lst)

In [25]:
another_tpl

(0, 1, 2, 3, 4, '777', 6, 7, 8, 9)

## fors and List Comprehensions

In [26]:
result = []
for x in original_list:
    if x > ???
    x_prime = transform x
    result.append(x_prime)

SyntaxError: invalid syntax (<ipython-input-26-12c2d49e4435>, line 3)

In [27]:
number_lst = list(range(33))

In [28]:
number_lst

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32]

In [29]:
odds =[]
for x in number_lst:
    if x % 2 == 1:
        odds.append(x)

In [30]:
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

In [31]:
squares = []
for x in number_lst:
    squares.append(x**2)

In [32]:
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024]

## Comprehensions

In [35]:
# squares = []
# for x in number_lst:
#    squares.append(x**2)

csquares = [x ** 2 for x in number_lst]

In [36]:
### odds
c_odds = [x for x in number_lst if x % 2 == 1]

In [37]:
c_odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

In [38]:
c_sqr_evens = [x ** 2 for x in number_lst if x % 2 == 0]

In [39]:
c_sqr_evens

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024]

# Dictionary Basics

In [50]:
state_caps_dict = {'New Mexic' : 'ABQ', 'Colorado' : 'Denver', 'Utah':'Salt Lake City', 'Arizona':'Phoenix'}

In [41]:
state_caps_dict

{'Arizona': 'Phoenix',
 'Colorado': 'Denver',
 'New Mexic': 'ABQ',
 'Utah': 'Salt Lake City'}

In [46]:
state_caps_dict['Denver']

KeyError: 'Denver'

In [47]:
'Denver' in state_caps_dict

False

In [48]:
state_caps_dict.get('Wyoming','State not found')

'State not found'

In [52]:
state_caps_dict.get('New Mexic','State not found')

'ABQ'

# Mutable Dictionaries

In [53]:
state_caps_dict

{'Arizona': 'Phoenix',
 'Colorado': 'Denver',
 'New Mexic': 'ABQ',
 'Utah': 'Salt Lake City'}

In [56]:
state_caps_dict['Wyoming'] = 'Casper'

In [57]:
state_caps_dict

{'Arizona': 'Phoenix',
 'Colorado': 'Denver',
 'New Mexic': 'ABQ',
 'Utah': 'Salt Lake City',
 'Wyoming': 'Casper'}

In [58]:
state_caps_dict['New Mexico'] = ['ABQ','Santa Fe']

In [59]:
state_caps_dict

{'Arizona': 'Phoenix',
 'Colorado': 'Denver',
 'New Mexic': 'ABQ',
 'New Mexico': ['ABQ', 'Santa Fe'],
 'Utah': 'Salt Lake City',
 'Wyoming': 'Casper'}

In [60]:
state_caps_dict['Colorado']={'Bubble':'boulder','Capital':'Denver','Nothingness':'Sterling'}

In [61]:
state_caps_dict

{'Arizona': 'Phoenix',
 'Colorado': {'Bubble': 'boulder',
  'Capital': 'Denver',
  'Nothingness': 'Sterling'},
 'New Mexic': 'ABQ',
 'New Mexico': ['ABQ', 'Santa Fe'],
 'Utah': 'Salt Lake City',
 'Wyoming': 'Casper'}

In [62]:
state_caps_dict['Colorado']['Up north'] = 'Wellington'

In [63]:
state_caps_dict

{'Arizona': 'Phoenix',
 'Colorado': {'Bubble': 'boulder',
  'Capital': 'Denver',
  'Nothingness': 'Sterling',
  'Up north': 'Wellington'},
 'New Mexic': 'ABQ',
 'New Mexico': ['ABQ', 'Santa Fe'],
 'Utah': 'Salt Lake City',
 'Wyoming': 'Casper'}

In [64]:
state_caps_dict = {'New Mexico' : 'ABQ', 'Colorado' : 'Denver', 'Utah':'Salt Lake City', 'Arizona':'Phoenix'}

In [70]:
for key in state_caps_dict:
   print(state_caps_dict[key])

ABQ
Denver
Salt Lake City
Phoenix

In [72]:
for value in state_caps_dict.items():
    print(value)

('New Mexico', 'ABQ')
('Colorado', 'Denver')
('Utah', 'Salt Lake City')
('Arizona', 'Phoenix')

In [73]:
for value in state_caps_dict.values():
    print(value)

ABQ
Denver
Salt Lake City
Phoenix

In [79]:
for key, value in state_caps_dict.items():
    print("key ='{}' value ='{}'".format(key,value))

key ='New Mexico' value ='ABQ'
key ='Colorado' value ='Denver'
key ='Utah' value ='Salt Lake City'
key ='Arizona' value ='Phoenix'

In [80]:
for key, value in state_caps_dict.items():
    print(key,value)

New Mexico ABQ
Colorado Denver
Utah Salt Lake City
Arizona Phoenix

# Sets

In [81]:
first_set = set([1, 2, 3])
second_set = {1, 2, 3}

In [82]:
first_set

{1, 2, 3}

In [83]:
second_set

{1, 2, 3}

In [84]:
third_set = set([1, 2, 3, 3, 3, 3,5])

In [85]:
fifth_set = {5, 6, 7, 9}

In [86]:
sixth_set = {4, 5, 6, 22}

In [87]:
fifth_set.union(sixth_set)

{4, 5, 6, 7, 9, 22}

## SPEED

In [92]:
our_list = list(range(10000000))
our_set = set(range(10000000))

In [91]:
%timeit 10000000 in our_list

231 ms ± 5.85 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [93]:
%timeit 10000000 in our_set

67.4 ns ± 1.96 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

# Sets v Lists

Find the intersection of 2 lists

In [97]:
list_1 = []
raw = ''
while raw != 'end':
    raw = input('Please enter a value for list 1: ')
    if raw != 'end':
        list_1.append(raw)

list_2 = []
raw = ''
while raw != 'end':
    raw = input('Please enter a value for list 2: ')
    if raw != 'end':
        list_2.append(raw)
        
print(list_1)
print(list_2)

Please enter a value for list 1: 1
Please enter a value for list 1: 2
Please enter a value for list 1: 3
Please enter a value for list 1: 4
Please enter a value for list 1: 5
Please enter a value for list 1: 7
Please enter a value for list 1: f
Please enter a value for list 1: v
Please enter a value for list 1: s
Please enter a value for list 1: c
Please enter a value for list 1: end
Please enter a value for list 2: 2
Please enter a value for list 2: 3
Please enter a value for list 2: 5
Please enter a value for list 2: 7
Please enter a value for list 2: 78
Please enter a value for list 2: 4
Please enter a value for list 2: e
Please enter a value for list 2: end
['1', '2', '3', '4', '5', '7', 'f', 'v', 's', 'c']
['2', '3', '5', '7', '78', '4', 'e']

### Worst Way

In [101]:
common = []
for x in list_1:
    if x in list_2:
        common.append(x)
print(common)

['2', '3', '4', '5', '7']

In [100]:
common= [x for x in list_1 if x in list_2]
print(common)

['2', '3', '4', '5', '7']

In [104]:
## Best Way
set_1 = set(list_1)
set_2 = set(list_2)
print(set_1.intersection(set_2))

{'7', '3', '4', '2', '5'}

# Functions

In [117]:
def multiples_of_3(input_list):
    result = []
    for x in input_list:
        if x % 3 == 0:
            result.append(x)
    return result

In [118]:
nums_lst = list(range(50))

In [120]:
multiples_of_3(nums_lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [125]:
def multiples_of_3(input_list):
    return [x for x in input_list if x % 3 == 0]

In [126]:
multiples_of_3(nums_lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]